/* h1{
    color: red;
} */
 #Mybox{
    height: 200px;
    background-color: green;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }
 .Boxes{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background: lightblue;
    text-align: center;
 }